@charset "utf-8";
/* CSS Document */

#contenedor-cookies {
	background-color: black;
	opacity: 0.5;
	color: white;
	position: fixed;
    bottom: 0;
	width: 100%;
	justify-content: center;
	display: block;
	z-index: 99999;
	font-size: 1.2em;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
}

#botonaceptar {
	margin-left: 600px;
}
#contenedor {
		position: relative;
		z-index: 99999;
		
	}
#times {
		position: absolute;
		color: white;
		top: 0;
		right: 0;
		padding: 10px;
		margin: 5px;
		font-weight: bold;
		font-size: 1.5em;
		/*z-index: 99999;*/
	}
#times:hover {
	text-decoration: none;
	color: yellow;
	}
#div_cookies {
	padding: 15px;
	margin: 10px;
	z-index: 99999;
}
#aqui {
	color: darkgreen;
}
#aqui:hover  {
	color: yellow;
}
#ocultar {
	opacity: 0.3;
	pointer-events: none;
}
