/* Estilos SlideShow */
* {box-sizing:border-box}

/* Estilos botón de inicio */
.btnInicio {
	border:none;
	padding:8px 16px;
	vertical-align:middle;
	text-decoration:none;
	color:white;
	background-color:dimgrey;
	text-align:center;
	cursor:pointer;
	}
.btnInicio:hover {
	opacity:0.7;
}
/*  Fin Estilos botón de inicio */

/* Inicio tratamiento SlideShow */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}	

/* Fin tratamiento SlideShow */

/* Inicio Tratamiento Responsive Image Grid*/
.headergrid {
  text-align: center;
  padding: 32px;
}

.rowgrid {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columngrid {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columngrid img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columngrid {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columngrid {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* Fin Tratamiento Responsive Image Grid*/

/* Estilos acordeón */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.activeAcordeon, .accordion:hover {
  background-color: #ccc; 
}

.panelAcordeon {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/* Fin Estilos acordeón */


/* Inicio Tratamiento Tab (Fichas) */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Fin Tratamiento Tab (Fichas) */

/* Inicio Tratamiento Slide Gallery */

/* Position the image container (needed to position the left and right arrows) */
.containerG {
  position: relative;
}

/* Hide the images by default */
.mySlidesG {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursorG {
  cursor: pointer;
}

/* Next & previous buttons */
.prevG,
.nextG {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextG {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevG:hover,
.nextG:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertextG {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-containerG {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.rowG:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnG {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demoG {
  opacity: 0.6;
}

.activeG,
.demoG:hover {
  opacity: 1;
}

/* Fin Tratamiento Slide Gallery */

/* Inicio Tratamiento Portfolio Gallery Filtering*/

/* Center website */
.rowP {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.rowP,
.rowP > .columnP {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.columnP {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.rowP:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.contentP {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.showP {
  display: block;
}

/* Style the buttons */
.btnP {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btnP:hover {
  background-color: #ddd;
}

.btnP.activeP {
  background-color: #666;
  color: white;
}

/* Fin Tratamiento Portfolio Gallery Filtering*/