@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box; /* mantiene el tamaño de padding y margin, sin que los sume*/
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 1em;
  }
/* CSS para menú inline-Block (menu1) */
#menu1 { 
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 10px;
	position: sticky; /* posición pegajosa: no lo soportan todos los navegadores */
	top: 0;
	z-index: 1; /*orden de apilación: queremos que este elemento esté siempre por delante*/
}
#menu1 ul {
	list-style-type: none;
	text-align: center;
	background-color: antiquewhite;
	margin: 0;
	padding: 0;
}
#menu1 ul li {
	display: inline-block;
	border: 1px solid black;
}
#menu1 ul li a {
	display: inline-block;
	text-decoration: none;
	width: 100px;
	padding: 10px;
	color: green;
}
#menu1 ul li:hover {
	background-color: lightsalmon;
}
#menu1 ul li a:hover {
	text-decoration: underline;
	background-color: ghostwhite;
	color: rebeccapurple;
}
/* CSS para menú Float (menu2) */

#menu2 {
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	overflow: hidden;
	height: auto;
}
#menu2 ul {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	position: relative; /* Utilizamos esta propiedad en lugar del margin en el caso de los float */
	left: 50%;
	
}
#menu2 ul li {
	float: left;
	margin: 10px 2px;
	border: 2px solid orange;
	position: relative;
	right: 50%;
	background-color: darkred;
}
#menu2 ul li a {
	text-decoration: none;
	text-align: center;
	padding: 10px;
	display: block;
	width: 100px;
	color: white;
}
#menu2 ul li a:hover {
	text-decoration: underline;
	color: orange;
	background-color: darkblue;
}
/* CSS para menú inline (menu3) */
#menu3 {
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 20px;
}
#menu3 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#menu3 ul li {
	display: inline;
	margin: 2px;
}
#menu3 ul li a {
	text-decoration: none;
	display: inline;
	padding: 10px 15px;
}
.rojo {
	background-color: darkred;
	color: white;
}
.rojo:hover {
	opacity: 0.8;
}
.azul {
	background-color: darkblue;
	color: white;
}
.azul:hover {
	opacity: 0.8;
}
.naranja {
	background-color: orange;
	color: white;
}
.naranja:hover {
	opacity: 0.8;
}
.verde {
	background-color: darkgreen;
	color: white;
}
.verde:hover {
	opacity: 0.8;
}
.violeta {
	background-color: darkviolet;
	color: white;
}
.violeta:hover {
	opacity: 0.8;
}
/* CSS para menú block (menu4) */
#menu4 {
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 10px;
}
#menu4 ul {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid red;
	width: auto;
	}
#menu4 ul li {
	display: block;
	border: 1px solid black;
	width: auto;
	margin: auto;
	
}
#menu4 ul li a {
    display: block;
	text-decoration: none;
	text-align: left;
	color: white;
	padding: 5px;
	background-color: darkseagreen;
	}
#menu4 ul li a:hover {
	opacity: 0.6;
}

/* CSS para menú block (menu5) */
#menu5 {
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 10px;
}
#menu5 ul {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid red;
	width: auto;
	}
#menu5 ul li {
	display: block;
	border: 1px solid black;
	width: auto;
	margin: auto;
	
}
#menu5 ul li a {
    display: block;
	text-decoration: none;
	text-align: right;
	color: white;
	padding: 5px;
	background-color: darkseagreen;
	}
#menu5 ul li a:hover {
	opacity: 0.6;
}

/* CSS para menú block (menu6) */
#menu6 {
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 10px;
}
#menu6 ul {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid red;
	width: auto;
	}
#menu6 ul li {
	display: block;
	border: 1px solid black;
	width: auto;
	margin: auto;
	
}
#menu6 ul li a {
    display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 5px;
	background-color: darkseagreen;
	}
#menu6 ul li a:hover {
	opacity: 0.6;
}
/* CSS para menú Barra Redes Sociales (menu7) */
#menu7 { 
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 10px;
}
#menu7 ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
#menu7 ul li {
	display: inline-block;
	background-color: gray;
	padding: 10px;
}
#menu7 ul li a {
	display: inline-block;
	text-decoration: none;
	width: auto;
	/*padding: 10px;*/
}
#menu7 ul li a:hover {
	opacity: 0.5;
}

/* CSS para menú Barra Redes Sociales (menu77) Lo pongo a la derecha vertical fija */

#menu77 { 
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 10px;
	
}
#menu77 ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	position: fixed; /* esta propiedad fija el elemento donde le digamos */
	right: 0;
	top: 10%;
}
#menu77 ul li {
	background-color: skyblue;
	border: 1px solid gray;
	padding: 10px;
}
#menu77 ul li a {
	text-decoration: none;
	width: auto;
}
#menu77 ul li a:hover {
	opacity: 0.5;
}

/* CSS para menús anidados en vertical */
#menu8 {
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 10px;
	}
#menu8 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	background-color: orange;
	overflow: hidden;
	}
#menu8 ul li {
	float: left;
	border-right: 1px solid #bbb;
}
#menu8 ul li a {
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu8 ul li a:hover {
	background: darkorange;
}

#menu8 ul li ul {
	display: none; 
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 5px 5px #888888;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);*/
	z-index: 1;
}
#menu8 ul li:hover ul {
	display: block;
	
}
#menu8 ul li ul li {
	float: none; /* para que no floten los elementos de lista de las listas hijas */
}
#menu8 ul li ul li a {
	color: black;
	padding:  12px 16px;
}
#menu8 ul li ul li a:hover {
	background-color: dodgerblue;
	color: white;
}
/* CSS para menús anidados en horizontal */
#menu9 {
	width: 80%;
	margin: 0 auto; 
	border: 1px solid black; 
	padding: 10px;
	position: relative;
	}
#menu9 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	background-color: orange;
	position: absolute;
	overflow: hidden;
	}
#menu9 ul li {
	float: left;
	border-right: 1px solid #bbb;
}
#menu9 ul li a {
	color: white;
	display: block;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}

#menu9 ul li a:hover {
	background: darkorange;
}

#menu9 ul li ul {
	display: none; 
	position: relative;
	background-color: #f9f9f9;
	box-shadow: 5px 5px #888888;
	z-index: 1;
}

#menu9 ul li:hover ul {
	display: block;
	
}
#menu9 ul li ul li {
	float: right; 
}

#menu9 ul li ul li a {
	color: black;
	padding:  12px 16px;
}
#menu9 ul li ul li a:hover {
	background-color: dodgerblue;
	color: white;
} 

/* --------------- Menus -----------------------*/
#padre {
	overflow: hidden;
	width: 80%;
	border: 1px solid black;
	margin: auto;
}
#hijo1 {
	float: left;
	width: 33.33%;
	background-color: white;
	height: auto;
}
#hijo2 {
	float: right;
	width: 33.33%;
	background-color: white;
	height: auto;
}
#hijo3 {
	margin: auto;
	width: 33.33%;
	background-color: white;
	height: auto;
}
.iconos {
	width: 25px;
	height: 25px;
	vertical-align: -0.4em;
	margin: 2px;
}


